<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/lib/datatables/1.10.15/jquery.dataTables.css">
    <div th:include="admin/common :: head"></div>
    <link rel="stylesheet" type="text/css" href="/static/css/admin/house-list.css">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <title>House List</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> Home <span class="c-gray en">&gt;</span> House Management
    <span class="c-gray en">&gt;</span> House List
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="Refresh"><i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="text-c">

</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <button onclick="removeIframe()" class="btn btn-primary radius">Close Tab</button>
    <span class="l">
        <a class="btn btn-primary radius" data-title="Add House" data-href="/admin/add/house"
           onclick="Hui_admin_tab(this)" href="javascript:;">
            <i class="Hui-iconfont">&#xe600;</i>Add House</a>&nbsp;&nbsp;
    </span>
</div>

<div class="page-container">
    <div class="text-c">
        <span class="select-box inline">
            <select id="city" name="city" class="select">
                <option value="">All Cities</option>
            </select>
        </span>
        <span class="select-box inline">
            <select id="houseStatus" name="houseStatus" class="select">
                <option value="">House</option>
                <option value="0">To Verify</option>
                <option value="1">Published</option>
                <option value="2">Rented</option>
            </select>
		</span> Create time：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'createTimeMax\')||\'%y-%M-%d\'}' })"
               id="createTimeMin" class="input-text Wdate" style="width:110px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'createTimeMin\')}',maxDate:'%y-%M-%d' })"
               id="createTimeMax" class="input-text Wdate" style="width:110px;">
        <input type="text" name="houseTitle" id="houseTitle" placeholder=" House Title" style="width:250px" class="input-text">
        <button id="houseSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>
            Find House
        </button>
    </div>
    <div class="mt-20">
        <table id="data-table"
               class="table table-border table-bordered table-bg table-hover table-sort table-responsive"
               style="width: 100%">
            <thead>
            <tr class="text-c">
                <th width="15">ID</th>
                <th>Title</th>
                <th>Cover</th>
                <th>Area</th>
                <th>Price</th>
                <th>Floor</th>
                <th>Visit Time</th>
                <th>Create Time</th>
                <th>Status</th>
                <th width="80">Operation</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<footer th:include="admin/common :: footer"></footer>
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/js/admin/house-list.js"></script>
</body>
</html>