<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="head">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/common.css" rel='stylesheet' type='text/css'/>
</div>

<header th:fragment="header" class="xunwu-header">
    <div class="nav-wrap">
        <div class="wrapper ">
            <div class="fl">
                <a class="logo" href="/" title="Find House">
                    <!--<img src="/static/images/logo.png">-->
                </a>
            </div>
            <div class="fr nav">
                <div class="fl">
                    <ul>
                        <li>
                            <a class="index-page" href="/">Home</a>
                        </li>
                        <li>
                            <a class="rent-page" href="/rent/house">Rent</a>
                        </li>
                        <li>
                            <a class="center-page" href="/user/center">Personal Center</a>
                        </li>
                    </ul>
                </div>
                <div class="fr login">
                    <div class="ti-hover">
                        <div class="login-panel typeUserInfo">
                            <div th:if="${session==null || session.SPRING_SECURITY_CONTEXT==null}">
                                <span class="welcome">
                                    <a class="btn-register" href="/user/login"
                                       rel="nofollow"><span class="log">Login without registration</span></a>
                                    <!--|<a class="btn-login bounceIn actLoginBtn" href="/user/login"><span-->
                                            <!--class="reg">Login</span></a>-->
                                </span>
                            </div>

                            <div th:if="${session!=null && session.SPRING_SECURITY_CONTEXT!=null}">
                                <a href="/user/center">
                                    <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">
                                        UserName
                                    </span>
                                </a>
                                <span id="indexTipContainer"></span>
                                <span class="welcome">
                                    <a class="reg" href="/logout" rel="nofollow">Logout</a></span>
                            </div>
                        </div>
                        <div class="user-news" id="userNews">
                            <!-- TODO -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:fragment="footer">
    <div class="footer">
        <div class="wrapper">
            <div class="f-title">
                <div class="fl">
                    <ul>
                        <li><a href="/" rel="nofollow" target="_blank">Home</a></li>
                        <li><a href="/" rel="nofollow" target="_blank">Detail</a></li>
                        <li><a href="/" rel="nofollow" target="_blank">About</a></li>
                        <li><a href="/admin/login" rel="nofollow" target="_blank">Admin Login</a></li>
                    </ul>
                </div>
                <div class="fr">Support xxxx-xxxx-xxxx</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
            <div class="copyright fl">Copyright &copy; 2018. CC All rights reserved.</div>
        </div>
    </div>
    <script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
</div>
</html>